*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
}

html{
	scroll-behavior: smooth;
}

body {
	background-color: #252627;
}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 0;
}

nav ul
    {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-right: 10px; 
	}

.navbar {
		background-color: #181818;
	}


header h1,
header a,
.text p,
.about h1,
.skills h1{
	margin-left: 10px;
	color: #707070;
}


li {
	list-style: none;
	margin-left: 30px;
}

a{
	text-decoration: none;
	font-size: .9rem;
	text-transform: uppercase;
	position: relative;
	top: 50%;
	bottom: 50%;
	transform: translateY(-50);
}

span.name {
	margin-left: 15px;
	color:#ED5565;
}

span:hover {
	color: #48CFAD;
}

span{
	margin-left: 30px;
}

span.m-left {
	margin-left: -10px;
}

.centerdiv{
	height: 68px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.centerdiv a{
	height: 70px;
	width: 70px;
	background-color:#c8d6e5;
	border-block-end-style: 30px;
	text-align: center;
	margin: 30px;
	line-height: 80px;

}

a:hover i{
       transform: scale(1.6);
}
.fa-instagram{
	color: #e84393;
}
.fa-linkedin{
	color: #0097e6;
}
.fa-twitter{
	color: #0097e6;
}
.fa-github{
	color: blueviolet;
}
.fa-facebook{
	color:blue;
}

.about {
	height: 100vh;
	margin-top: 50px;
}

.about h1 {
	font-size: 10rem;
	z-index: 0;
	opacity: .1;
}

.about-me-info {
	max-width: 900px;
	background-color:#c8d6e5;
	
	

	padding: 50px;
	position: relative;
	top: -70px;
	left: 50%;
	right: 50%;
	z-index: 1;

}
.about-me-info:hover{
	color:#ED5565;
	transform: scale(1.3);
}





footer{
	margin-top: 10px;
	text-align: center;
}
footer:hover{
	color: salmon;
	transform: scale(1.1);
}
