*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
}

html{
	scroll-behavior: smooth;
}

body {
	background-color: #252627;
}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 0;
}

nav ul
    {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-right: 10px; 
	}

.navbar {
		background-color: #181818;
	}


header h1,
header a,
.text p,
.about h1,
.skills h1{
	margin-left: 10px;
	color: #707070;
}


li {
	list-style: none;
	margin-left: 30px;
}

span.name {
	margin-left: 15px;
	color:#ED5565;
}

span:hover {
	color: #48CFAD;
}

span{
	margin-left: 30px;
}

span.m-left {
	margin-left: -10px;
}

.centerdiv{
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

a{
	height: 60px;
	width: 60px;
	background-color:#c8d6e5;
	border-block-end-style: 30px;
	text-align: center;
	margin: 10px;
	line-height: 70px;
	box-shadow: #576574;

}

a:hover i{
       transform: scale(1.4);
}
.fa-instagram{
	color: #e84393;
}
.fa-linkedin{
	color: #0097e6;
}
.fa-twitter{
	color: #0097e6;
}
.fa-github{
	color: blueviolet;
}
.fa-facebook{
	color:blue;
}

.about {
	height: 100vh;
	margin-top: 50px;
}

.about h1 {
	font-size: 10rem;
	z-index: 0;
	opacity: .1;
}
